/*Global*/
body{ font-family: "OpenSans Regular"; font-size: 14px; color: #333;}
a{ text-decoration: none!important;}
img{ max-width: 100%; height: auto; display: block;}
.table{ margin-bottom: 0;}
button{ margin: 0; padding: 0;}
.fl_left{ float: left;}
.fl_right{ float: right;}
.thumb img{ max-width: 100%; height: auto; display: block;}
.bg-07{ background: #07adc6;}
.bg-ff{ background: #fff;}
.bg-36{ background: #364150;} 

/*Header*/
#wrapper{ position: relative;}
#header{ position: fixed; width: 100%; z-index: 1000; background: #fff; box-shadow: 0 5px 5px -5px #364150;}
.dropdown-menu{ font-size: 13px; margin: 0; padding: 0; box-shadow: 0 2px 10px rgba(0,0,0,.2); -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);}
.dropdown-menu > li > a{ padding: 8px 15px; white-space: initial;}

/*Sidebar*/
#sidebar{ position: fixed; width: 200px; height: 100%; top: 60px; left: 0; background: #364150; z-index: 1000;}
#sidebar-menu{  padding-top: 30px;}
#sidebar-menu .nav-item .nav-link{ position: relative; display: block; color: #a0a5aa; text-decoration: none!important; padding: 12px 15px; border-bottom: 1px solid #3d4957;}
#sidebar-menu .nav-item .nav-link .icon{  display: inline-block; font-size: 18px; line-height: normal; width: 1em; text-align: center;}
#sidebar-menu .nav-item .nav-link .title{ display: inline-block; padding-left: 5px;}
#sidebar-menu .nav-item .nav-link .arrow{ position: absolute; top: 50%; right: 15px; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%);}
#sidebar-menu .nav-item:first-child .nav-link .arrow{ display: none;}
#sidebar-menu .sub-menu{ display: none;}

/*Css for jquery*/
#wrapper #sidebar #sidebar-menu .nav-item.active a .arrow{ top: 15px; transform: rotate(90deg); -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg); -o-transform: rotate(90deg);-ms-transform: rotate(90deg);}
#wrapper.hide-menu #header #wp-logo, #wrapper.hide-menu #sidebar { width: 50px;}
#wrapper.hide-menu #header #wp-logo #logo{ display: none;}
#wrapper.hide-menu #main-content{ margin-left: 50px;}
#wrapper.hide-menu #sidebar-menu .nav-item .nav-link .title, #wrapper.hide-menu #sidebar-menu .nav-item .sub-menu, #wrapper.hide-menu #sidebar-menu .nav-item .nav-link .arrow{ display: none!important;}
#wrapper.hide-menu #sidebar #sidebar-menu > .nav-item:hover{ width: 222px;}
#wrapper.hide-menu #sidebar #sidebar-menu .nav-item:hover a .title{  display: inline-block!important; padding-left: 30px;}
#wrapper.hide-menu #sidebar #sidebar-menu .nav-item:hover .sub-menu{  display: block!important;  position: absolute; background: #364150;  left: 52px; width: 170px;}
#sidebar-menu > .nav-item.active > .nav-link{ background: #2c3542;}
#sidebar-menu li:hover > a{ background: #2c3542}
.row{margin-top:40px;padding: 0 10px;}
.clickable{
		    cursor: pointer;   
		}

		.panel-heading div {
			margin-top: -18px;
			font-size: 15px;
		}
		.panel-heading div span{
			margin-left:5px;
		}
#wp-content{
	padding-top: 75px;
	
}
#wrapper.show-menu #wp-content{
	padding-left: 190px;
}
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
.panel.panel-primary{margin-bottom: 0}
.btn-group.panel-heading .btn.active{background: #1f7a8d;position: relative;}
.btn-group.panel-heading .btn.active::before{
    content: '';
    width: 0;
    height: 0;
    bottom: -20px;
    right: 10px;
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #1f7a8d;
}
.btn-group.panel-heading .btn:hover{
	text-decoration: underline !important;
}
#wp-content .page{display: none;}
#wp-content .page.active{display: block;}
.text-error{color: #a94442 !important;}