/*Global*/
body{ 
    font-family: "OpenSans Regular";
    font-size: 14px; color: #333;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #3d85c6 none repeat-x scroll top left;
 }
body>#wrapper{
    background: transparent 
                url(../../../public/images/unnamed.png) 
                repeat-x 
                scroll 
                top 
                center;
    height: 100%;
    padding: 50px 0;
    overflow-y: scroll;
    overflow-x: hidden;
 }
 body>#wrapper>.container{
    min-width: 510px;
 }
.pagination>li>a, .pagination>li>span {
 border-radius: 50% !important;
 margin: 0 5px;
}
.text-error{
    color: #a94442 !important;
}
.wp-message-session{
	position: absolute;
    right: 100px;
    top: 40px;
    font-size: 16px;
    z-index: 10000;
}
.wp-message-session .message{
	padding: 15px;
	border-radius: 5px;
}
.wp-message-session .close-message{
	position: absolute;
    top: -22px;
    right: -6px;
    border-radius: 10px;
    color: #a80e0e;
    padding: 0px 2px;
    font-size: 18px;
    cursor: pointer;
}
.wp-option{
	display: inline-block;
	cursor: pointer;
	position: relative;
}
.wp-option:hover .option,
.wp-option:hover .content-hide{
	display: block;
}
.wp-option .option{
    position: absolute;
    z-index: 999;
    background: white;
    border: 1px solid #c1c1c1;
    min-width: 100px;
    right: -5px;
    top: -72px;
    text-align: left;
    display: none;
    border-radius: 5px;
}
.wp-option .option a{
    display: block;
    color: #3e3e3e;
    line-height: 24px;
    padding: 5px;
}
.wp-option .option a:hover{
	background-color: #e8e8e8;
}
.wp-option .content-hide{
	position: absolute;
    background: white;
    min-width: 300px;
    right: 15px;
    top: 4px;
    color: #4d4d4d;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px #a3a3a3;
    display: none;
    line-height: 22px;
    text-align: left;
    white-space: pre-line;
}

/*Social */
#sticky-social {
   left: 0;
   position: fixed;
   top: 150px;
}
#sticky-social a {
   text-decoration: none;
   background: #333;
   color: #fff;
   display: block;
   height: 35px;
   line-height: 35px;
   position: relative;
   text-align: center;
   width: 35px;
}
#sticky-social a span {
   line-height: 35px;
   left: -120px;
   position: absolute;
   text-align:center;
   width:120px;
    font: 14px "Open Sans", sans-serif;
    line-height: 35px;
    font-weight: 500;
}
#sticky-social a:hover span {
   left: 100%;
   border-left: 1px solid #Fff;
    background: #4793d6;
}
#sticky-social a[class*="logout"]{
    background: #c3daee;
}

#sticky-social a[class*="logout"]:hover{
    background: #4793d6;
}
