/*STYLE HEADER*/
#action-user { width: 300px;}
#wp-logo{width: 200px}
#wp-logo #logo{ 
    display: block; 
    padding: 21px 17px;
}
#wp-logo #logo img{
    max-width: 100%;
    height: auto;
    display: block;
}
#sidebar-toggler{ 
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 20px 17px;
    line-height: 18px;
}
#add-new-header{ padding: 13px 15px;}
#add-new-header .dropdown-toggle{
    position: relative;
    font-size: 15px;
    line-height: 16px;
    font-family: "OpenSans Semibold";
    color: #bc3030;
    background: #fff;
    border: 1px solid #bc3030;
    padding: 8px 40px;
    border-radius: 20px;
}
#add-new-header .dropdown-toggle:before, #add-new-header .dropdown-toggle:after{
    position: absolute;
    font-family: "Fontawesome";
    top: 50%;
    color: #bc3030;
    font-size: 12px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
#add-new-header .dropdown-toggle:before{ content: '\f067'; left: 15px;}
#add-new-header .dropdown-toggle:after{ content: '\f107'; right: 15px; font-weight: bold; font-size: 15px;}
#action-user #dropdown-noti .dropdown-toggle {
    position: relative;
    display: block;
    color: #7f96ac;
    font-size: 20px;
    line-height: 20px;
    padding: 20px 18px;
    background: none;
    border: none;
    outline: none;
    width: 100%;
}
#action-user #dropdown-noti .dropdown-toggle #number{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 11px;
    color: #fff;
    background: #07adc6;
    width: 20px;
    line-height: 21px;
    text-align: center;
    border-radius: 50%;
    font-family: 'Roboto Medium';
}
#action-user #dropdown-noti .dropdown-menu{ 
    width: 275px; 
    font-size: 13px;
}
#dropdown-user .dropdown-toggle{
    position: relative;
    font-family: 'OpenSans Semibold';
    color: #7f96ac;
    border: none;
    outline: none;
    background: #f9fafc;
    padding: 14px 10px 14px 25px;
    width: 100%;
}
#dropdown-user .dropdown-toggle:after{
    position: absolute;
    content: '\f107';
    font-family: 'Fontawesome';
    top: 50%;
    right: 10px;
    font-size: 14px;
    font-weight: bold;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
#dropdown-user .dropdown-menu, #add-new-header .dropdown-menu{ 
    font-size: 13px;
    width: 195px;
}
#add-new-header .dropdown-menu{ left: 15px;}
#action-user #dropdown-noti .dropdown-menu, #dropdown-user .dropdown-menu{
    left: initial;
    right: 0!important;
}
#dropdown-noti, #thumb-circle{ width: 30%;}
#dropdown-user, #username{ width: 70%; line-height: 32px; font-size: 13px;margin: 0;padding: 0}